<div id="spinner">
    <div class="loading">Loading&#8230;</div>
</div>

<div class="main-panel container" style="padding-top: 10px !important;">
    <app-management-selector [reportGroup]="reportGroup">
    </app-management-selector>

    <div class="report-cards">
        <div class="row">
            <div *ngIf="!diksha_column" class="col-sm-12 col-xl-4">
                <span id="ut" [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook']"
                    (click)="fetchTelemetry($event,'ut')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><img class="ic-equalizer1" src="../../assets/ic_assessment.svg" alt=""
                                            height="30px" width="30px"></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{dscViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Usage by <br> User Profile </h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.dscTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>
            <div class="col-sm-12 col-xl-4">
                <span id="ut" [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook']"
                    (click)="fetchTelemetry($event,'ut')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><img class="ic-equalizer1" src="../../assets/ic_assessment.svg" alt=""
                                            height="30px" width="30px"></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{utViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Usage by <br> Textbook </h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.utTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>

            <div class="col-sm-12 col-xl-4">
                <span id="utc" [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook-content']"
                    (click)="fetchTelemetry($event,'utc')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-pie-chart text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{utcViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Usage By <br> Textbook Content</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.utcTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div style="height: 300px !important;"></div>

</div>