<div id="spinner">
    <div class="loading">Loading&#8230;</div>
</div>

<div class="main-panel container" style="padding-top: 10px !important;">
    <app-management-selector [reportGroup]="reportGroup">
    </app-management-selector>

    <div class="report-cards">
        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <span id="sat" [routerLink]="!nifi_sat ? ['/coming-soon'] :['/student-performance/sat-report']"
                    (click)="fetchTelemetry($event,'sat')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><img class="ic-equalizer1" src="../../assets/images/teacher.png" alt=""
                                            height="30px" width="30px"></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{satViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Semester <br> Assesment Test </h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.satTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>


            <div class="col-sm-12 col-xl-4">
                <span id="satHeatChart"
                    [routerLink]="!nifi_sat ? ['/coming-soon'] :['/student-performance/sat-heat-chart']"
                    (click)="fetchTelemetry($event,'satHeatChart')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-pie-chart text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{satHeatChartViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Semester Assesment <br> Test Heatchart</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.satHeatChartTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <span id="pat1" [routerLink]="!nifi_pat ? ['/coming-soon'] :['/student-performance/pat-report']"
                    (click)="fetchTelemetry($event,'pat')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-map-marker text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{patViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Periodic <br> Assesment Test</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.patTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>


            <div class="col-sm-12 col-xl-4">
                <span id="heatChart" [routerLink]="!nifi_pat ? ['/coming-soon'] :['/student-performance/heat-chart']"
                    (click)="fetchTelemetry($event,'heatChart')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><img class="ic-equalizer1" src="../../assets/images/teacher.png" alt=""
                                            height="30px" width="30px"></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{heatChartViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Periodic Assesment <br> Test Heatchart</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.heatChartTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>


            <div class="col-sm-12 col-xl-4">
                <span id="lotable" [routerLink]="!nifi_pat ? ['/coming-soon'] :['/student-performance/PAT-LO-table']"
                    (click)="fetchTelemetry($event,'lotable')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-pie-chart text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{lotableViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Periodic Assesment <br> Test Lo-Table</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.lotableTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>

        </div>
    </div>
</div>