.card {
  margin-bottom: 5px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 15px;
  cursor: pointer;
}
.card .card-header {
  padding: 10px 40px;
  height: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.card .card-header .card-header-left {
  border-radius: 0 0 0 7px;
  left: 10px;
  top: 2px;
  float: right;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}
.card .card-header .card-head-text {
  right: 20px;
  left: 10px;
  top: 2px;
  float: right;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  text-align: right;
}
.card .card-header .card-head-text p {
  font-size: 14px;
}
.card .card-header .card-header-left .card-option li {
  display: inline-block;
}
.card .card-header .card-header-left .card-option li:first-child i {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
}
.card .card-header .card-header-left i {
  margin: 0 5px;
  cursor: pointer;
  color: #2c323f;
  line-height: 20px;
}
.card .card-header h5:not(.mb-0), .card .card-header h5:not(.m-0) {
  margin-bottom: 0;
  text-transform: capitalize;
}
.card .card-header h6 {
  font-size: 22px;
}
.card .card-body {
  padding: 10px 20px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0);
}
.card .card-body h6 {
  font-size: 15px; 
  text-align: left;
  line-height: 22px;
  color: #fff;
}
.card .card-body p:last-child {
  margin-bottom: 0;
}
.card .card-footer {
  padding: 8px 15px;
  height: 75px;
  text-align: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card .card-footer p {
  font-size: 11px;
  color: #fff;
}


.bg-header{
  background: linear-gradient(180deg, #97005D 0%, #D30054 100%);
}
.bg-footer{
  background-color: #95005D;
}