---
- name: Installing cQube
  hosts: "{{my_hosts}}"
  gather_facts: true
  become: true
  remote_user: root
  vars_files:
    - constants.yml
  roles:
          - datasource
          - createdb
          - python_flask
          - { role: kong, tags: install }
          - keycloak
          - nifi_install
          - { role: nifi_params, tags: install }
          
          - role: cqube_data
            tags: install
  
          - role: static
            tags: install

          - role: crc
            tags: install
            when: crc

          - role: attendance
            tags: install
            when: attendance

          - role: infra
            tags: install
            when: infra

          - role: telemetry
            tags: install
            when: telemetry

          - role: udise
            tags: install
            when: udise

          - role: pat
            tags: install
            when: pat

          - role: teacher_attendance
            tags: install
            when: teacher_attendance

          - role: data_replay
            tags: install
            when: data_replay

          - role: sat
            tags: install
            when: sat

          - role: diksha
            tags: install
            when: diksha

          - role: composite
            tags: install
            when: composite

          - role: progresscard
            tags: install
            when: progresscard

          - role: dummy_connections  
            tags: install

          - { role: nifi_scheduler, tags: install }
          - cqube_version
