---
- name: Upgrading cQube
  hosts: "{{ my_hosts }}"
  gather_facts: true
  remote_user: root
  vars_files:
    - constants.yml  
  roles: 
          - datasource
          - createdb
          - python_flask
          - { role: kong, tags: update }
          - keycloak
          - nifi_install

          - role: nifi_params 
            tags: update 

          - role: cqube_data
            tags: update

          - role: static
            tags: update

          - role: crc
            tags: update
            when: crc

          - role: attendance
            tags: update
            when: attendance

          - role: infra
            tags: update
            when: infra

          - role: telemetry
            tags: update
            when: telemetry

          - role: udise
            tags: update
            when: udise

          - role: pat
            tags: update
            when: pat

          - role: teacher_attendance
            tags: update
            when: teacher_attendance

          - role: data_replay
            tags: update
          
          - role: sat
            tags: update
            when: sat

          - role: diksha
            tags: update
            when: diksha

          - role: composite
            tags: update
            when: composite

          - role: progresscard
            tags: update
            when: progresscard
           
          - role: dummy_connections  
            tags: update  
  
          - cqube_version
