---
- name: Stopping the client_side app
  become: yes
  shell: pm2 stop client_side
  tags: update

- name: Delete client_side directory
  file:
    path: "{{ base_dir }}/cqube/dashboard/client_side"
    state: absent
  tags: update

- name: Making sure {{ base_dir }}/cqube/dashboard/default_management_category directory is present
  file:
    path: "{{ base_dir }}/cqube/dashboard/default_management_category"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    recurse: yes
    state: directory
  tags: [ install, update ]

- name: Create the default_management_category.csv
  template:
    src: default_management_category.csv.j2
    dest: "{{ base_dir }}/cqube/dashboard/default_management_category/default_management_category.csv"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    mode: '0644'
  tags: [ install, update ]

- name: Making sure {{ base_dir }}/cqube/dashboard/client_side directory is present
  file:
    path: "{{ base_dir }}/cqube/dashboard/client_side"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    recurse: yes
    state: directory
  tags: [ install, update ]

- name: copying maps script
  copy:
    src: "../../development/ui/dashboard_ui/maps/{{state_code}}.json" 
    dest: "../../development/ui/dashboard_ui/{{usecase_name}}/client-side/src/assets/map.json"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    mode: "0644"
  delegate_to: 127.0.0.1
  tags: [ install, update ]

- name: copying client-side script
  copy:
    src: "../../development/ui/dashboard_ui/{{usecase_name}}/client-side/"
    dest: "{{base_dir}}/cqube/dashboard/client_side"
  tags: [ install, update ]

- name: Configure the environment.ts
  template:
    src: environment.ts.j2
    dest: "{{ base_dir }}/cqube/dashboard/client_side/src/environments/environment.ts"
  when: mode_of_installation != "localhost"
  tags: [ install, update ]

- name: Configure the environment.prod.ts
  template:
    src: environment.prod.ts.j2
    dest: "{{ base_dir }}/cqube/dashboard/client_side/src/environments/environment.prod.ts"
  when: mode_of_installation != "localhost"
  tags: [ install, update ]

- name: Configure the environment.ts (localhost)
  template:
    src: environment_local.ts.j2
    dest: "{{ base_dir }}/cqube/dashboard/client_side/src/environments/environment.ts"
  when: mode_of_installation == "localhost"
  tags: [ install, update ]

- name: Configure the environment.prod.ts (localhost)
  template:
    src: environment.prod_local.ts.j2
    dest: "{{ base_dir }}/cqube/dashboard/client_side/src/environments/environment.prod.ts"
  when: mode_of_installation == "localhost"
  tags: [ install, update ]

- name: Configure the apis.config.ts
  template:
    src: apis.config.ts.j2
    dest: "{{ base_dir }}/cqube/dashboard/client_side/src/app/apis.config.ts"
  tags: [ install, update ]

- name: Install Angular packages based on package.json.
  npm:
    path: "{{ base_dir }}/cqube/dashboard/client_side"
  tags: [ install, update ]

- name: Building Angular client-side code
  command: ng build --prod
  args:
    chdir: "{{ base_dir }}/cqube/dashboard/client_side"
  tags: [ install, update ]

- name: changing ownership
  file:
    path: "{{ base_dir }}/cqube/dashboard/client_side"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    recurse: yes
  tags: [ install, update ]
