---
- name: checking process of pm2 server_side
  become: yes
  shell: pm2 id server_side
  register: pm2_output
  tags: install

- name: checking the existing pm2 processes if running
  shell: pm2 delete server_side
  when: pm2_output.stdout != "[]"
  ignore_errors: True
  become: yes
  tags: install

- name: Starting NodeJS application
  become: yes
  shell: pm2 start npm --name server_side -- start
  args:
    chdir: "{{ base_dir }}/cqube/dashboard/server_side"
  tags: install

- name: Starting the server_side app
  become: yes
  shell: pm2 start server_side
  tags: update

- name: Copying the config.js file to keycloak_otp directory
  template:
    src: config.js.j2
    dest: "{{ base_dir }}/cqube/dashboard/server_side/src/api/controller/users/keycloak-otp/config.js"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    mode: "0644"
  tags: [ install, update ]

- name: Running the node cqube.js
  shell: node cqube.js
  args:
    chdir: "{{ base_dir }}/cqube/dashboard/server_side/src/api/controller/users/keycloak-otp"
  when: auth_api == "cqube"
  tags: [ install, update ]

- name: Running the node state.js
  shell: node state.js 
  args:
    chdir: "{{ base_dir }}/cqube/dashboard/server_side/src/api/controller/users/keycloak-otp"
  when: auth_api != "cqube"
  tags: [ install, update ]
