*/nifi_json_files
*/datasource.csv
*/*.tar
config.yml
upgradation_config.yml
education_usecase_config.yml
education_usecase_upgradation_config.yml
test_usecase_config.yml
test_usecase_upgradation_config.yml
