---
#------------------------------------------------------#
#
# cQube Installaion configuration parameters
#
# ALL VARIABLES ARE MANDATORY.
# PLEASE FILL THOSE BEFORE RUNNING CORRESPONDING STEPS.
#
#------------------------------------------------------#

#NOTE: Please fill the value with a space between ":" and the value. 
#Example-   `system_user_name: ubuntu`

usecase_name: uc1_edu        # demo usecases are uc1_edu, uc2_edu
