---

- name: Copying python files
  copy:
    src: "../../development/datasource/python"
    dest: "{{ base_dir }}/cqube/emission_app/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]
 
- name: Copy static.txt files
  copy:
    src: "../../development/datasource/static/nifi/static_data_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy crc.txt files
  copy: 
    src: "../../development/datasource/crc/nifi/crc_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy attendance.txt files
  copy:
    src: "../../development/datasource/attendance/nifi/student_attendance_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy infra.txt files
  copy:
    src: "../../development/datasource/infra/nifi/infra_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy telemetry.txt files
  copy:
    src: "../../development/datasource/telemetry/nifi/cqube_telemetry_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy udise.txt files
  copy: 
    src: "../../development/datasource/udise/nifi/udise_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]
  
- name: Copy pat.txt files
  copy:
    src: "../../development/datasource/pat/nifi/pat_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy composite.txt files
  copy:
    src: "../../development/datasource/composite/nifi/composite_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]
  
- name: Copy progress_card.txt files
  copy:
    src: "../../development/datasource/progresscard/nifi/progress_card_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy teacher_attendance.txt files
  copy:
    src: "../../development/datasource/teacher_attendance/nifi/teacher_attendance_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy data_replay.txt files
  copy:
    src: "../../development/datasource/data_replay/nifi/data_replay_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]

- name: Copy sat.txt files
  copy: 
    src: "../../development/datasource/sat/nifi/sat_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]
  
- name: Copy diksha.txt files
  copy:
    src: "../../development/datasource/diksha/nifi/diksha_parameters.txt"
    dest: "{{ base_dir }}/cqube/emission_app/python/"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
  tags: [ install, update ]
  
- name: Delete env.py
  file:
    path: "{{ base_dir }}/cqube/emission_app/python/env.py"
    state: absent
  tags: update

- name: Updating env.py
  template:
    src: env.py.j2
    dest: "{{ base_dir }}/cqube/emission_app/python/env.py"
    mode: "0644"
  tags: [ install, update ]

- name: Delete properties_nifi_deploy file 
  file:
    path: "{{ base_dir }}/cqube/emission_app/python/properties_nifi_deploy.py"
    state: absent
  tags: update

- name: Updating properties_nifi_deploy file
  template:
    src: properties_nifi_deploy.py.j2
    dest: "{{ base_dir }}/cqube/emission_app/python/properties_nifi_deploy.py"
    mode: "0644"
  tags: [ install, update ]

- name: Changing the permission of the directory
  file:
    path: "{{ base_dir }}/cqube/emission_app"
    owner: "{{ system_user_name }}"
    group: "{{ system_user_name }}"
    recurse: yes
  tags: [ install, update ]

- name: Starting the emission_app service
  service:
    name: gunicorn
    enabled: yes
    state: restarted
  tags: [ install, update ]
