.chartAreaWrapper {
    height: 72vh;
  }


  .chartWrapper {
    position: relative;
      overflow-y: scroll;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  .vl {
    border-left: 1px dotted black;
    height: 70vh;
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 40%;
  }

  .vl2 {
    border-left: 1px dotted black;
    height: 70vh;
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 63%;
  }

  .dropDownInput{
     width: '200px'
  }

  .ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
    background-color: blue;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
    background-color: blue;
}