.mat-toolbar{
  background-color: #fff;
  background-size: cover;
}

.humber-icon-btn{
  padding-top:5px;
  margin-right: 10px;
}

.material-icons{
  font-size: 30px;
}

.menu-icon{
  width: 16px;  padding-top:15px;
}
.single-menu{
  margin-left: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  height: 100%;
}

.cubeImg{
  margin-right: 6px;
  height: 16px;
  width: 16px;
}

.single-line{
  border-bottom:1px solid #FCF794;
  margin-top: 0vh;
  height:50px !important;
}

.groups{
  margin-left: 0vw;
  margin-top: 0vh;
}

.mat-drawer-opened{
  width: 300px !important;
}

.mat-drawer{
  background-color: #FFC400; 
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* mat-sidenav-container.mat-drawer-container.mat-sidenav-container.sidenav-container{
  background-color: #ffebcc;
} */

.content-wrapper{
  min-height: 92vh;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../../../assets/images/bg-icon.png);
  opacity: 12;
  background-position-y: 100px;
  background-size: 450px 500px;
}

/*sidebar menu bottom */
.user-logout{
  cursor: auto;
  background-color: #FFE07B;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center right;
  text-align: center;
  position:absolute;
  left: 0px;
  bottom:-5px;
  background-image: url(../../../assets/images/user-info-bg-icon.svg);
  height: auto !important;
}
.user-logout:hover{
  left: 0px !important;
  bottom:-5px !important;
  position:absolute !important; 
  cursor: auto;
  background-color: #FFE07B !important;
  background-repeat: no-repeat !important;
  background-size: 45% !important;
  background-position: center right !important;
  text-align: center !important;
  background-image: url(../../../assets/images/user-info-bg-icon.svg) !important;
  height: auto !important;
}

.user{
  position: relative;
  /* bottom: 0; */
  right: 0;
  left: 0;
}
.user-info {
  display: block;
  padding: 9px 0px 9px 0px;
  margin: -8px 0 0px;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  transition: .1s ease;
}
.user-info::before{
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3px;
    height: 100%;
    transition: .1s ease;
}

.user-det {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det h3 {
  margin-top: 12px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det span {
  font-size: 13px;
  font-weight: 400;
  opacity: 1;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det-icon {
  position: absolute;
  top: 50%;
  right: 23px;
  margin-top: -8px;
  font-size: 16px;
  opacity: .8;
  color: #273044;
}
.user-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding: 30px 0px 30px 0px; */
    background-color: #FFE07B;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center right;
    text-align: center;
    background-image: url(../../../assets/images/user-info-bg-icon.svg);
}
/* .user-bottom mat-list-item{
  height: 222px !important;
} */

.humber-icon{
  width: 32px !important; height: 32px !important;
  line-height: 20px !important;
}
.mat-toolbar-single-row{
  height:45px;
}

.logo{
  height: 35px !important;
}

.logo img{
  height: 35px;
  width: 110px;
}

.mat-sidenav-content{
  padding-top: 45px;
}

.mat-sidenav{
  margin-top: 45px;
}

.mat-nav-list a{
  font-size: 13px;
}


#logoutBtn{
  font-size: 15px;
  padding: 5px 30px 5px 8px !important;
}

#logoutBtn img{
  height: 20px;
  width: 20px;
}

.userSection{
  margin-top: 20px;
  height: 50px;
  text-align: center;
}

#chPass{
  height: 30px;
  font-size: 16px;
}

.versions{
  font-size: 13px;
  height: 30px;
}

.sideScrollHeight{
  height: 800px !important;
}
.sideBarHeight{
  height: 90vh !important;
  position:relative;
}

@media screen and (min-width: 2560px) {

.humber-icon-btn{
  padding-top:5px;
  margin-right: 25px !important;
}

.single-menu{
  margin-left: 24px !important;
  font-size: 26px !important;
}

.single-line{
  border-bottom:1px solid #FCF794;
  margin-top: 1vh !important;
  height:90px !important;
}

.cubeImg{
  margin-right: 8px !important;
  height: 30px !important;
  width: 30px !important;
}

.groups{
  margin-left: 1vw !important;
  margin-top: -10px !important;
}

.mat-drawer-opened{
  width: 550px !important;
}

.mat-drawer-side ~ .mat-sidenav-content{
  margin-left: 590px !important;
}

.material-icons{
  font-size: 40px !important;
}

.mat-drawer{
  background-color: #FFC400; 
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.content-wrapper{
  min-height: 94vh !important;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../../../assets/images/bg-icon.png);
  background-position-y: 150px  !important;
  background-size: 850px 1000px !important;
}

/* mat-sidenav-container.mat-drawer-container.mat-sidenav-container.sidenav-container{
  background-color: #ffebcc;
} */

/*sidebar menu bottom */
.user-logout{
  cursor: auto;
  background-color: #FFE07B;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center right;
  text-align: center;
  left: 0px !important;
  bottom:-8px !important;
  position:absolute !important; 
  background-image: url(../../../assets/images/user-info-bg-icon.svg);
  height: auto !important;
}
.user-logout:hover{
  left: 0px !important;
  bottom:-8px !important;
  position:absolute !important; 
  cursor: auto;
  background-color: #FFE07B !important;
  background-repeat: no-repeat !important;
  background-size: 45% !important;
  background-position: center right !important;
  text-align: center !important;
  background-image: url(../../../assets/images/user-info-bg-icon.svg) !important;
  height: auto !important;
}

.user{
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.user-info {
  display: block;
  padding: 9px 0px 9px 0px;
  margin: -8px 0 0px;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  transition: .1s ease;
}
.user-info::before{
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3px;
    height: 100%;
    transition: .1s ease;
}

.user-det {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det h3 {
  margin-top: 12px;
  font-size: 30px !important;
  line-height: 32px !important;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det span {
  font-size: 28px;
  font-weight: 400;
  opacity: 1;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det-icon {
  position: absolute;
  top: 50%;
  right: 23px;
  margin-top: -8px;
  font-size: 26px;
  opacity: .8;
  color: #273044;
}
.user-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding: 30px 0px 30px 0px; */
    background-color: #FFE07B;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 45%;
    background-position: center right;
    text-align: center;
    background-image: url(../../../assets/images/user-info-bg-icon.svg);
}

/* .user-bottom mat-list-item{
  height: 382px !important;
} */

  .humber-icon{
    width: 40px !important; height: 40px !important;
    line-height: 30px !important;
  }
  .mat-toolbar-single-row{
    height:70px !important;
  }


.logo{
  height: 58px !important;
}
  .logo img{
    height: 60px !important;
    width: 180px !important;
  }

  .mat-sidenav-content{
    padding-top: 70px !important;
  }

  .mat-sidenav{
    margin-top: 70px;
  }

  .mat-nav-list a{
    font-size: 18px !important;
  }

  #logoutBtn{
    font-size: 30px !important;
    padding: 5px 50px 5px 9px !important;
  }
  
  #logoutBtn img{
    height: 30px !important;
    width: 30px !important;
  }

  .userSection{
    margin-top: 20px !important;
    height: 100px !important;
    text-align: center !important;
  }
  
  #chPass{
    height: 60px !important;
  }
  
  .versions{
    font-size: 24px !important;
    height: 60px !important;
  }

  .sideScrollHeight{
    height: 1400px !important;
  }

  .sideBarHeight{
    height: 94vh !important;
    position:relative;
  }
}

@media screen and (min-width: 3820px) {
.humber-icon-btn{
  padding-top:5px;
  margin-right: 35px !important;
}

.menu-icon{
  width: 16px;  
  padding-top:15px;
}
.single-menu{
  margin-left: 22px !important;
  font-size: 40px !important;
}


.mat-drawer-opened{
  width: 800px !important;
}

.mat-drawer-side ~ .mat-sidenav-content{
  margin-left: 900px !important;
}


.material-icons{
  font-size: 50px !important;
}

.single-line{
  border-bottom:1px solid #FCF794;
  margin-top: 10px !important;
  height:130px !important;
}
.mat-drawer{
  background-color: #FFC400; 
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.content-wrapper{
  min-height: 93vh !important;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(../../../assets/images/bg-icon.png);
  background-position-y: 200px  !important;
  background-size: 1000px 1400px !important;
}

/* mat-sidenav-container.mat-drawer-container.mat-sidenav-container.sidenav-container{
  background-color: #ffebcc;
} */

/*sidebar menu bottom */
.user-logout{
  cursor: auto;
  background-color: #FFE07B;
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: center right;
  text-align: center;
  left: 0px !important;
  bottom:-10px !important;
  position:absolute !important; 
  background-image: url(../../../assets/images/user-info-bg-icon.svg);
  height: auto !important;
}
.user-logout:hover{
  left: 0px !important;
  bottom:-10px !important;
  position:absolute !important; 
  cursor: auto;
  background-color: #FFE07B !important;
  background-repeat: no-repeat !important;
  background-size: 45% !important;
  background-position: center right !important;
  text-align: center !important;
  background-image: url(../../../assets/images/user-info-bg-icon.svg) !important;
  height: auto !important;
}

.user{
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
}
.user-info {
  display: block;
  padding: 12px 0px 12px 0px;
  margin: -12px 0 0px;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  transition: .1s ease;
}
.user-info::before{
  content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 3px;
    height: 100%;
    transition: .1s ease;
}

.user-det {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det h3 {
  margin-top: 12px;
  font-size: 36px !important;
  line-height: 42px !important;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det span {
  font-size: 34px !important;
  font-weight: 400;
  opacity: 1;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-det-icon {
  position: absolute;
  top: 50%;
  right: 23px;
  margin-top: -8px;
  font-size: 30px;
  opacity: .8;
  color: #273044;
}
.user-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #FFE07B;
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center right;
    text-align: center;
    background-image: url(../../../assets/images/user-info-bg-icon.svg);
}
  .humber-icon{
    width: 60px !important; 
    height: 60px !important;
    line-height: 40px !important;
  }
  .mat-toolbar-single-row{
    height:120px !important;
  }


.logo{
  height: 80px !important;
}
  .logo img{
    height: 80px !important;
    width: 250px !important;
  }


  .mat-sidenav-content{
    padding-top: 120px !important;
  }

  .mat-sidenav{
    margin-top: 120px !important;
  }
  
  .mat-nav-list a{
    font-size: 36px !important;
  }



  #logoutBtn{
    font-size: 38px !important;
    padding: 10px 50px 10px 9px !important;
  }
  
  #logoutBtn img{
    height: 45px !important;
    width: 45px !important;
  }

  .userSection{
    margin-top: 40px !important;
    height: 120px !important;
    text-align: center !important;
  }
  
  #chPass{
    height: 80px !important;
  }
  
  .versions{
    font-size: 38px !important;
    height: 90px !important;
  }

  .sideScrollHeight{
    height: 1900px !important;
  }

  .sideBarHeight{
    height: 94vh !important;
    position:relative;
  }
}

 

/* width */ 

/* .mat-drawer-inner-container.ng-tns-c71-0 ::-webkit-scrollbar { width : 5px !important; overflow: hidden;}  */
.mat-drawer-inner-container.ng-tns-c71-0 {
  overflow: hidden !important;
} 
::ng-deep .mat-drawer-inner-container.ng-tns-c71-0 {
  overflow: hidden !important;
}

.mat-drawer-inner-container{
  overflow: hidden !important;
}
::-webkit-scrollbar { width : 5px !important; } 
/* Track */ 
::-webkit-scrollbar-track { 
  box-shadow : inset 0 0 5px #cecece ; 
  border-radius : 30px ; 
  cursor : pointer ; 
  scroll-behavior : smooth !important ; 
} 
/* Handle */ 
::-webkit-scrollbar-thumb { 
  background : #cecece ; 
  border-radius : 30px ; 
  cursor : pointer ; 
} 
/* Handle on hover */ 
::-webkit-scrollbar-thumb:hover { 
  background : #cecece ; 
} 

.log-out img{width:25px;}


.versions{
  margin:10px 0px
}

.mat-list-base .mat-list-item{
  font-size: 12px;
}
::ng-deep.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  padding:0px !important;
}
.right-arrow{
  width: 6px !important;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
  height: 32px;
}
.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  height: 10px;
}

::ng-deep.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content{
  display: block!important;
}