.card {
  margin-bottom: 5px;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  border-radius: 15px;
  cursor: pointer;
}
.card .card-header {
  padding: 10px 40px;
  height: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
.card .card-header .card-header-left {
  border-radius: 0 0 0 7px;
  left: 15px;
  top: 8px;
  /* display: inline-block; */
  float: right;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}
.card .card-header .card-head-text {
  right: 20px;
  top: 8px;
  /* display: inline-block; */
  float: right;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}
.card .card-header .card-head-text p {
  font-size: 14px;
}
.card .card-header .card-header-left .card-option li {
  display: inline-block;
}
.card .card-header .card-header-left .card-option li:first-child i {
  -webkit-transition: 1s;
  transition: 1s;
  font-size: 28px;
}
.card .card-header .card-header-left i {
  margin: 0 5px;
  cursor: pointer;
  color: #2c323f;
  line-height: 20px;
}
.card .card-header h5:not(.mb-0), .card .card-header h5:not(.m-0) {
  margin-bottom: 0;
  text-transform: capitalize;
}
.card .card-header h6 {
  font-size: 22px;
}
.card .card-body {
  padding: 10px 20px;
  height: 65px;
  background-color: rgba(0, 0, 0, 0);
}
.card .card-body h6 {
  font-size: 15px; 
  text-align: left;
  line-height: 22px;
  color: #fff;
}
.card .card-body p:last-child {
  margin-bottom: 0;
}
.card .card-footer {
  padding: 8px 15px;
  height: 75px;
  text-align: left;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card .card-footer p {
  font-size: 11px;
  color: #fff;
}
.bg-pink {
  background-color: #fc8a3a;
}
.bg-light-grad-pink {
  background: #fc943a;
  background: linear-gradient(180deg, rgba(252, 148, 58, 1) 0%, rgba(252, 157, 57, 1) 35%, rgba(251, 167, 57, 1) 100%);
}
.bg-light-white-grad-pink {
  background-color: #fd883a;
}
.bg-green {
  background-color: #31a790;
}
.bg-light-grad-green {
  background: #35b59e;
  background: linear-gradient(180deg, rgba(53, 181, 158, 1) 0%, rgba(56, 190, 167, 1) 35%, rgba(60, 201, 176, 1) 100%);
}
.bg-light-white-grad-green {
  background-color: #2fa28b;
}

