<div id="spinner">
    <div class="loading">Loading&#8230;</div>
</div>

<div class="main-panel container" style="padding-top: 10px !important;">
    <app-management-selector [reportGroup]="reportGroup">
    </app-management-selector>

    <div class="report-cards">
        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <span id="imr" [routerLink]="!nifi_infra ? ['/coming-soon'] :['/infrastructure/school-infra-map']"
                    (click)="fetchTelemetry($event,'imr')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-map-marker text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{imrViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Infrastructure <br />Access by Location</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.imrTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>


            <div class="col-sm-12 col-xl-4">
                <span id="cr" [routerLink]="!nifi_infra ? ['/coming-soon'] :['/infrastructure/school-infrastructure']"
                    (click)="fetchTelemetry($event,'cr')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><img class="ic-equalizer1" src="../../assets/images/teacher.png" alt=""
                                            height="30px" width="30px"></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> 11 (Last day)</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Composite Report</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.crTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>


            <div class="col-sm-12 col-xl-4">
                <span id="udise" [routerLink]="!nifi_udise ? ['/coming-soon'] :['/infrastructure/udise-report']"
                    (click)="fetchTelemetry($event,'udise')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-pie-chart text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> 11 (Last day)</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>UDISE Report</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.udiseTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>


        </div>
    </div>
</div>