<div id="spinner">
    <div class="loading">Loading&#8230;</div>
</div>

<div class="main-panel container" style="padding-top: 10px !important;">
    <app-management-selector [reportGroup]="reportGroup">
    </app-management-selector>
    <div class="report-cards">
        <div class="row">
            <div class="col-sm-12 col-xl-4">
                <span id="telemData" [routerLink]="!nifi_telemetry ? ['/coming-soon'] :['/telemetry']"
                (click)="fetchTelemetry($event,'telemData')" class="text-decoration-none">
                    <div class="card my-3">
                        <div class="card-header bg-pink border-0">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i class="fa fa-map-marker text-white" aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0"><strong>Views :</strong> {{telemDataViews}}</p>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6>Telemetry</h6>
                        </div>
                        <div class="card-footer bg-light-white-grad-pink border-0">
                            <p class="mb-0">{{toolTip.telemDataTooltip}}</p>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>