.dataTables_scroll, .dataTables_scrollHead{
    font-size: 11px; 
    text-align: center; 
    width: 100%; 
    border: 1px solid gray;
  }
  
  @media screen and (min-width: 1920px){
    .dataTables_scroll, .dataTables_scrollHead{
      font-size: 16px; 
      text-align: center; 
      width: 100%; 
      border: 1px solid gray;
    }
    
  }
  
  @media screen and (min-width: 2500px){
    .dataTables_scroll, .dataTables_scrollHead{
      font-size: 22px; 
      text-align: center; 
      width: 100%; 
      border: 1px solid gray;
    }
    #downloader{
      margin-top: 1vh;
      margin-right: 15px;
        margin-bottom: 3px;
        padding: 8px !important;
        color: white;
        border-radius: 4px;
        font-size: 22px !important;
        font-weight: bold;
        background-color: rgb(152, 160, 163);
    }
  }
  
  @media screen and (min-width: 3820px) {
    .dataTables_scroll, .dataTables_scrollHead{
      font-size: 26px !important; 
      text-align: center; 
      width: 100%; 
      border: 1px solid gray;
    }
    #downloader{
      margin-top: 1vh;
      margin-right: 20px;
        margin-bottom: 4px;
        padding: 12px !important;
        color: white;
        border-radius: 6px;
        font-size: 32px !important;
        font-weight: bold;
        background-color: rgb(152, 160, 163);
    }
  }

  #downloader{
    margin-top: 1vh;
    margin-right: 15px;
    margin-bottom: 3px;
    padding: 5.2px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    background-color: rgb(152, 160, 163);
  }

