const keyCloakDetails = {
    "KEYCLOAK_HOST": "http://{{ local_ipv4_address }}:8080",
    "KEYCLOAK_REALM": "{{ realm_name }}",
    "KEYCLOAK_CLIENT": "{{ angular_app_client_id }}",
    "KEYCLOAK_ADM_USER": "{{ keycloak_adm_user }}",
    "KEYCLOAK_ADM_PASSWD": "{{ keycloak_adm_passwd }}"
}
