export const environment = {
  production: false,
  apiEndpoint: "{{ protocol }}://{{ api_endpoint }}:3000/api",
  adminUrl: "http://{{ local_ipv4_address }}:4201",
  appUrl: "{{ protocol }}://{{ api_endpoint }}:4200", 
  adminUrl: "http://{{ proxy_host }}:4201",
  keycloakUrl: "{{ protocol }}://{{ api_endpoint }}:8080/auth",
  realm: "{{ realm_name }}",
  clientId: "{{ angular_app_client_id }}",
  stateName: "{{ state_code }}",
  diksha_columns: {% if diksha_columns == True %}true{% endif %}{% if diksha_columns == False %}false{% endif %},
  useCase: "{{ usecase_name }}",
  mapName: "{{ map_name }}",
  theme: "{{ theme }}",
  report_viewer_config_otp: {% if report_viewer_config_otp == True %}true{% endif %}{% if report_viewer_config_otp == False %}false{% endif %},
  progressCardConfig: ['{{ slab1 }}', '{{ slab2 }}', '{{ slab3 }}', '{{ slab4 }}'],
  auth_api: "{{ auth_api }}",
  keycloak_adm_user: "{{ keycloak_adm_user }}",
  adminApiEndPoint: "http://{{ api_endpoint }}:3001/admin_api",
  water_mark: "false"
};
