<div class="wrapper">
  <div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="" class="toolbar" style="z-index: 9999; position: fixed;">
      <button id="menuIcon" mat-icon-button class="humber-icon-btn" (click)="onClickToggleMenu()">
        <mat-icon class="humber-icon">menu</mat-icon>
      </button>
      <a class="logo" id="cubeLogo" (click)="onToggle()" [routerLink]="[currentDashboardGroup]">
        <img src="../../../assets/images/logo.png" alt="logo">
      </a>
      <div class="col text-right d-flex align-items-center justify-content-center">
      </div>
      <span *ngIf="showBackBtn" id="backBtn" (click)="onBackClick()" [routerLink]="['/home']"><img
          src="../../../assets/images/back.svg" alt="back-logo"><strong
          style="padding: 0px 0.6vw .1vh 1vw">Back</strong></span>

      <button class="btn btn-primary" id="accessProgressCard" (click)="sccessProgressCard()">Access Progress
        Card</button>
    </mat-toolbar>
    <mat-sidenav-container id="sidenav-container" class="sidenav-container"
      [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
      <mat-sidenav #sidebar [mode]="mobileQuery.matches ? 'over' : sidenavMode" [fixedInViewport]="mobileQuery.matches"
        [opened]="mobileQuery.matches ? 'false' : 'true'" fixedTopGap="0">

        <mat-nav-list class="side-menu">
          <div class="sideBarHeight">
            <div style="max-height:100%;overflow:auto;">
              <div class="sideScrollHeight">
                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/infrastructure-dashboard']"
                  (click)="setCurrentDashboardGroup('/dashboard/infrastructure-dashboard')" class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="SchInfra" class="groups"> School Infrastructure </span>
                  </div>
                </mat-list-item>

                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/std-performance-dashboard']"
                  class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="stdPerformance" class="groups">Student Performance</span>
                  </div>
                </mat-list-item>

                <mat-list-item *ngIf="hideReport !== 'none'" (click)="closeSidebar()"
                  [routerLink]="['/dashboard/attendance-dashboard']" class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="attendance" class="groups">Attendance</span>
                  </div>
                </mat-list-item>

                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/tpd-dashboard']" class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="tpd" class="groups">Courses</span>
                  </div>
                </mat-list-item>


                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/etb-dashboard']" class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="etb" class="groups">Energised Textbook Usage</span>
                  </div>
                </mat-list-item>

                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/common-dashboard']"
                  class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="common" class="groups">Other Diksha Metrics</span>
                  </div>
                </mat-list-item>

                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/crc-dashboard']" class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="crc" class="groups">CRC Visit</span>
                  </div>
                </mat-list-item>


                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/composite-dashboard']"
                  class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="composite" class="groups">Composite Report across metrics</span>
                  </div>
                </mat-list-item>


                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/prograss-card-dashboard']"
                  class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="progressCard" class="groups">Progress Card</span>
                  </div>
                </mat-list-item>


                <mat-list-item (click)="closeSidebar()" [routerLink]="['/dashboard/exception-dashboard']"
                  class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="exceptList" class="groups">Exception List</span>
                  </div>
                </mat-list-item>

                <mat-list-item *ngIf="hideReport !== 'none'" (click)="closeSidebar()"
                  [routerLink]="['/dashboard/telemetry-dashboard']" class="single-line">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="single-menu">
                    <img class="cubeImg" src="assets/images/menu-icon.svg" alt="">
                    <span id="telemetry" class="groups">Telemetry</span>
                  </div>
                </mat-list-item>
                <mat-list-item class="user-logout">
                  <div fxLayout="row" fxLayoutAlign="space-between center" class="">

                    <div class="user-info border-0 text-center">

                      <div class="user-det">
                        <div class="userSection">
                          <span style="opacity: 0.5;">Logged in as</span>
                          <h3>{{email}}</h3>
                        </div>


                        <button type="button" id="logoutBtn" class="my-3 btn btn-labeled btn-primary"
                          (click)="logout()">
                          <span class="btn-label p-3 log-out"><img src="assets/images/logout.svg"
                              alt=""></span>Logout</button>

                        <div *ngIf="hideChangePass">
                          <div *ngIf="role != 'admin'" id="chPass"><a [routerLink]="['/user/changePassword']"
                              class="text-decoration-underline" style="text-decoration: underline !important;">Change
                              Password</a></div>

                        </div>
                      </div>

                      <div class="row versions">
                        <span class="col-sm-6" style="opacity:0.5">Version : 3.6</span>
                        <span class="col-sm-6" style="opacity:0.5">Date : 24/05/2022</span>
                      </div>
                    </div>
                  </div>
                </mat-list-item>
              </div>
            </div>
          </div>

        </mat-nav-list>
        <mat-nav-list>

        </mat-nav-list>

      </mat-sidenav>
      <mat-sidenav-content
        [style.marginLeft.px]="router.url.includes('dashboard') && !mobileQuery.matches ? '345' : '0'">
        <div class="container-fluid content-wrapper" style="overflow-x: hidden;">
          <div class="row">
            <div class="col-12" (click)="closeSidebar()">
              <router-outlet (click)="closeSidebar()"></router-outlet>
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>