---
- name: creating the parameter json files
  template:
    src: "{{ item }}.json.j2"
    dest: "{{ base_dir }}/cqube/nifi/nifi_json_files/{{ item }}.json"
    mode: "0644"
  loop:
    - cQube_data_storage_parameters
    - crc_parameters
    - static_data_parameters
    - student_attendance_parameters
    - infra_parameters
    - diksha_parameters
    - cqube_telemetry_parameters
    - udise_parameters
    - pat_parameters
    - composite_parameters
    - healthcard_parameters
    - teacher_attendance_parameters
    - data_replay_parameters
    - sat_parameters
