<div class="main-panel" style="padding-top: 10px !important;">
    <!-- <app-management-selector [reportGroup]="reportGroup">
    </app-management-selector> -->
    <div class="report-cards">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-4" *ngFor="let card of cardList">
                <span id="tpd-content" [routerLink]="card.routerLink" (click)="navigate(card.routerLink)"
                    class="text-decoration-none">
                    <div class="card my-3 bg-header">
                        <div class="card-header border-0 bg-transparent">
                            <div class="card-header-left">
                                <ul class="list-unstyled card-option mb-0">
                                    <li><i [ngClass]="card.report_type == 'map' ? 'fa fa-map-marker text-white' : 'fa fa-table text-white'"
                                            aria-hidden="true"></i></li>
                                </ul>
                            </div>
                            <div class="card-head-text">
                                <p class="text-white mb-0" id="views">

                                </p>
                                <ng-template #other_content>

                                </ng-template>
                            </div>
                        </div>
                        <div class="card-body bg-light-grad-pink d-flex align-items-center">
                            <h6> {{card.report_name.replaceAll('_', ' ') | titlecase}}</h6>
                        </div>
                        <div class="card-footer bg-footer border-0">
                            <p class="mb-0">{{card.description}}</p>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>


</div>
<!-- <div id="spinner">
    <div id="loader" class="loading">Loading&#8230;</div>
</div> -->