<mat-toolbar class="header" color="primary" style="position: fixed; top: 0; z-index: 9999;">
    <button class="menu" mat-icon-button (click)="sidenav.toggle()" id="menu">
      <mat-icon style="color: #24223e;">menu</mat-icon>
    </button>
    <img src="../../assets/dashboard.png" id="logoImg" alt="">
    <span style="flex: 1 1 auto;"></span>
    <span id="backBtn" class="headerBtn" [routerLink]="['/home']" (click)="onBackClick()">
      <strong *ngIf="userType">Back</strong>
    </span>
    <span id="homeBtn" class="headerBtn" [routerLink]="['/dashboard']" (click)="clearSessionStorage()">
      <strong>Home</strong>
    </span>
    <span id="logout" class="headerBtn" (click)="logout()"><em class="fa fa-sign-out fa-rotate-180"></em><strong>
        Logout</strong>
    </span>
  </mat-toolbar>
  
  <mat-sidenav-container style="background-color: rgb(245, 245, 245);">
    <mat-sidenav #sidenav id="sideNav">
      <div style="height: 83vh; position:relative;">
        <div style="max-height:100%;overflow:auto;">
          <div style="height:1500px auto;">
            <mat-nav-list class=sidenav>
              <mat-toolbar style="height: 50px; background-color: white; border-bottom: 1px solid lightgray;">
                <mat-toolbar-row style="color: rgb(84, 116, 223);">
                  <span class="span" style="font-size: 15px;"><strong>Logged in as : </strong>
                    <span> &nbsp;{{email}}</span></span>
                </mat-toolbar-row>
              </mat-toolbar>
  
              <div *ngIf="!showsideMenu">  
                <mat-nav-list>
                  <mat-list-item (click)="showSubmenu2 = !showSubmenu2" class="abc1"
                    style=" border-bottom: 1px solid lightgray;">
                    <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
                    <span class="full-width" id="diksha" *ngIf="isExpanded || isShowing" style=" margin-left: 4%; ">
                      Teacher Professional Development</span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu2}" *ngIf="isExpanded || isShowing">
                      expand_more</mat-icon>
                  </mat-list-item>
                  <div class="submenu2" [ngClass]="{'expanded' : showSubmenu2}" *ngIf="isShowing || isExpanded">
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-course']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dcc')" id="clmnReport"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">Usage by Course</span></a>
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-course-content']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dtr')" id="dtblReport"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">Usage by Course
                        Content</span></a>
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/tpd-course-progress']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'tpd-cp')" id="tpd-cp"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">TPD Collection
                        Progress</span></a>
                    <!-- <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/tpd-teacher-percentage']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'tpd-tp')" id="tpd-tp"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">TPD Teacher
                        Percentage</span></a> -->
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/tpd-enrollment']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'tpd-enroll')" id="tpd-enroll"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">TPD Total Enrolments /
                        Completions</span></a>
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/tpd-completion']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'tpd-comp')" id="tpd-comp"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">TPD Completion
                        Percentage</span></a>
                  </div>
                </mat-nav-list>
  
                <mat-nav-list>
                  <mat-list-item (click)="showSubmenu9 = !showSubmenu9" class="abc1"
                    style=" border-bottom: 1px solid lightgray;">
                    <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
                    <span class="full-width" id="stdPerform" *ngIf="isExpanded || isShowing" style=" margin-left: 4%; ">
                      Energise Textbook Usage
                    </span>
                    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu9}" *ngIf="isExpanded || isShowing">
                      expand_more</mat-icon>
                  </mat-list-item>
                  <div class="submenu9" [ngClass]="{'expanded' : showSubmenu9}"
                    *ngIf="diksha_column && (isShowing || isExpanded)">
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-user-profile']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dsc')" id="chrtReport"
                      (click)="showSubmenu2 = !showSubmenu2"><span style="margin-left: 50px;">Usage by user
                        profile</span></a>
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dtr')" id="ut"
                      (click)="showSubmenu9 = !showSubmenu9"><span style="margin-left: 50px;">Usage by Textbook</span></a>
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook-content']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dtr')" id="utc"
                      (click)="showSubmenu9 = !showSubmenu9"><span style="margin-left: 50px;">Usage by Textbook
                        Content</span></a>
                  </div>
                  <div class="submenu9" [ngClass]="{'expanded' : showSubmenu9}"
                    *ngIf="!diksha_column && (isShowing || isExpanded)">
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dtr')" id="ut"
                      (click)="showSubmenu9 = !showSubmenu9"><span style="margin-left: 50px;">Usage by Textbook</span></a>
                    <a mat-list-item [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/diksha/usage-by-textbook-content']"
                      (click)="sidenav.toggle()" (click)="fetchTelemetry($event,'dtr')" id="utc"
                      (click)="showSubmenu9 = !showSubmenu9"><span style="margin-left: 50px;">Usage by Textbook
                        Content</span></a>
                  </div>
                </mat-nav-list>
                <a *ngIf="showUser" mat-list-item (click)="sidenav.toggle()" style="border-bottom: 1px solid lightgray;"
                  [routerLink]="!nifi_diksha ? ['/coming-soon'] :['/user/changePassword']"
                  (click)="fetchTelemetry($event,'chPass')" id="chPass">
                  <td>
                    <img alt="Dashboard" src="../../assets/ico_task.png" style="width:30px;height:30px;">
                  </td>
                  <td>
                    &nbsp;&nbsp; Change Password </td>
                </a>
              </div>
  
            </mat-nav-list>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <span id="version" style="float: left;">Version : 3.0 </span>
        <span id="releaseDate" style="float: right;">Date: 21/07/2021</span>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content style="margin-top: 1.5%;">
      <div style="min-height: 95vh; overflow-x: hidden;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>