.reportHeader{
   top: 45px;
   position: fixed;
   width: calc(100% - 25px);
   z-index: 999;
   background-color: #F5F5F5;
}

.reportContainer{
   margin-top: 120px;
}


@media screen and (min-width: 2140px) {
    
}
