template,status
crc,{% if crc == true %}1{% endif %}{% if crc == false %}0{% endif %}{{''}}
attendance,{% if attendance == true %}1{% endif %}{% if attendance == false %}0{% endif %}{{''}}
infra,{% if infra == true %}1{% endif %}{% if infra == false %}0{% endif %}{{''}}
diksha,{% if diksha == true %}1{% endif %}{% if diksha == false %}0{% endif %}{{''}}
telemetry,{% if telemetry == true %}1{% endif %}{% if telemetry == false %}0{% endif %}{{''}}
udise,{% if udise == true %}1{% endif %}{% if udise == false %}0{% endif %}{{''}}
pat,{% if pat == true %}1{% endif %}{% if pat == false %}0{% endif %}{{''}}
composite,{% if composite == true %}1{% endif %}{% if composite == false %}0{% endif %}{{''}}
progresscard,{% if progresscard == true %}1{% endif %}{% if progresscard == false %}0{% endif %}{{''}}
teacher_attendance,{% if teacher_attendance == true %}1{% endif %}{% if teacher_attendance == false %}0{% endif %}{{''}}
data_replay,{% if data_replay == true %}1{% endif %}{% if data_replay == false %}0{% endif %}{{''}}
sat,{% if sat == true %}1{% endif %}{% if sat == false %}0{% endif %}
