.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*====================================================================*/

.dataTables_scroll,
.dataTables_scrollHead {
  font-size: 11px;
  text-align: center;
  width: 100%;
  border: 1px solid gray;
}

@media screen and (min-width: 1920px) {
  .dataTables_scroll,
  .dataTables_scrollHead {
    font-size: 16px;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
  }
}

@media screen and (min-width: 2500px) {
  .dataTables_scroll,
  .dataTables_scrollHead {
    font-size: 22px;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
  }
}

@media screen and (min-width: 3820px) {
  .dataTables_scroll,
  .dataTables_scrollHead {
    font-size: 26px !important;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
  }
}

@media only screen and (min-width: 1260px) {
  .myDiv .dataTables_wrapper .dataTables_scrollBody {
      max-height: 32vh;
      font-size: 12px;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead{
      font-size: 12px !important;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
      height: 100px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
      min-width: 180px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th{
      min-width: 40px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollBody .indicator{
      min-width: 180px !important;
  }
  .page-item.active .page-link{
      background-color: whitesmoke !important;
      color: black !important;
      font-size: 12px;
  }
  .page-link{
      color: black !important;
      font-size: 12px;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
      background-size: 15px 15px !important;
  }

}

@media only screen and (min-width: 1920px) {
  .myDiv .dataTables_wrapper .dataTables_scrollBody {
      max-height: 42vh !important;
      font-size: 18px !important;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead{
      font-size: 18px !important;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
      height: 120px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
      min-width: 200px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th{
      min-width: 50px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollBody .indicator{
      min-width: 200px !important;
  }
  .page-item.active .page-link{
      background-color: whitesmoke !important;
      color: black !important;
      font-size: 18px;
  }
  .page-link{
      color: black !important;
      font-size: 18px;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
      background-size: 20px 20px !important;
  }

}

@media only screen and (min-width: 2540px) {
  .myDiv .dataTables_wrapper .dataTables_scrollBody {
      max-height: 45vh !important;
      font-size: 22px !important;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead{
      font-size: 22px !important;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
      height: 150px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
      min-width: 250px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th{
      min-width: 50px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollBody .indicator{
      min-width: 250px !important;
  }
  .page-item.active .page-link{
      background-color: whitesmoke !important;
      color: black !important;
      font-size: 23px;
  }
  .page-link{
      color: black !important;
      font-size: 23px;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
      background-size: 30px 30px !important;
  }

}

@media only screen and (min-width: 3840px) {
      .myDiv .dataTables_wrapper .dataTables_scrollBody {
      max-height: 52vh !important;
      font-size: 30px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead{
      font-size: 30px !important;
  }

  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
      height: 220px !important;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
      width: 350px;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollBody .indicator{
      min-width: 350px !important;
  }
  .page-item.active .page-link{
      background-color: whitesmoke !important;
      color: black !important;
      font-size: 30px;
  }
  .page-link{
      color: black !important;
      font-size: 30px;
  }
  .myDiv .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
      background-size: 40px 40px !important;
  }
}

.myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
  height: 60px;
  padding-left: -10px;
}
.myDiv .dataTables_wrapper .dataTables_scrollBody {
font-size: 11px;
}

.myDiv .dataTables_wrapper .dataTables_scrollHead{
font-size: 11px;
}


.myDiv .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
  width: 150px;
}

.myDiv .dataTables_wrapper .dataTables_scrollBody .indicator{
  min-width: 150px;
}

.myDiv .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
  background-size: 20px 20px;
}

.myDiv .dataTables_wrapper .dataTables_scrollBody table tbody tr th, .myDiv .dataTables_wrapper .dataTables_scrollBody table table.dataTable tbody tr td {
  padding: 0px 0px !important;
}