@import "~leaflet/dist/leaflet.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import '~material-design-icons/iconfont/material-icons.css';



/* You can add global styles to this file, and also import other style files */

html,body {
    /* background-color: #fff; */
    background-size: cover;
    height: 100vh;
    font-family: Helvetica Neue Bold;
}

table {
    width: 100% !important;
}

th.mat-sort-header-sorted {
    color: black;
}

.leaflet-bottom,
leaflet-right {
    display: none;
}

.leaflet-popup-content {
    width: 250px auto;
}

@media screen and (min-width: 1920px) {
    .leaflet-popup-content {
        min-width: 350px !important;
        font-size: 16px;
    }
}

@media screen and (min-width: 2560px) {
    .leaflet-popup-content {
        min-width: 560px !important;
        font-size: 22px;
    }
}

@media screen and (min-width: 3820px) {
    .leaflet-popup-content {
        min-width: 700px !important;
        font-size: 28px;
    }
}


/* Absolute Center Spinner */

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* Transparent Overlay */

.loading:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
    background: -webkit-radial-gradient( rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}


/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
    display: block;
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.loading:not(:required):after {
    content: "";
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}


/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#scrolly {
    overflow: auto;
    overflow-y: hidden;
    margin: 0 auto;
    white-space: nowrap !important;
}

.table.dataTable.nowrap td {
    white-space: unset !important;
}

/*//////////////////////////////////////////////////////////////////*/
.tooltip-inner{
    font-size: 12px;
    max-width: 350px !important;
}

#footer {
    width: 100%;
    border-top: 1px solid #cdccc8;
    background-color: #F5F5F5;
    font-size: 13px;
    font-weight: bold;
    color: #727374;
    padding: 2px;
    position: fixed;
    bottom: 0;
    left: 14px;
    z-index: 999 !important;
    margin-top: 0.3%;
}

#outer {
    border-radius: 15px;
    background-color: #f5f6fb;
    height: 23px;
    width: 150px;
    border: 1px solid gray;
    font-size: 12px;
    font-weight: bold;
}

#absolute {
    border-radius: 15px;
    height: 21px;
    width: 50%;
    float: left;
    cursor: pointer;
}

#relative {
    border-radius: 15px;
    height: 21px;
    width: 50%;
    float: left;
    cursor: pointer;
}

#dist,
#block,
#cluster,
#school,
#heading {
    color: var(--theme-report-heading-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 5px;
}

#errMsg {
    text-align: center;
    line-height: 1.2em;
    font-size: 12px;
    margin-top: 3%;
}

#download {
    cursor: pointer;
    float: right;
    margin: .5vh 0px 0px 8px;
    height: 30px;
    width: 30px;
}

#home {
    cursor: pointer;
    font-size: 30px;
    float: right;
    margin: 2px 0px 0px 0px;
    color: #3100cc;
    display: none;
}

#patprogressCard,
#infraprogressCard,
#satprogressCard,
#udiseprogressCard,
#stdprogressCard,
#downloadRaw,
#rawDownload,
#crcprogressCard {
    font-weight: bold;
    text-decoration: underline;
    font-size: 13px;
    color: #3100cc;
}

.note,
#students,
#schools,
#dateRange,
#totalCount,
#visits,
#visited,
#notVisited {
    text-align: justify;
    font-size: 12px;
    color:var(--theme-report-heading-color);
}

#blockbtn,
#clusterbtn,
#schoolbtn {
    margin-right: 15px;
    margin-top: 2px;
    font-size: 11px;
    width: 75px;
    padding: 4px;
    background:var(--theme-report-button-color);
}

#choose_dist,
#choose_block,
#period,
#grades,
#subjects,
#choose_semester,
#choose_cluster,
#time_range,
#coll_name,
#choose_enroll,
#choose_infra,
#academicYear,
#year,#year1,
#month,
#x-axis,
#y-axis,
#type,
#management,
#category {
    margin-right: 15px;
    margin-bottom: 3px;
    padding: 5.2px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    font-weight: bold;
    background: var(--theme-report-button-color);
}

.legends {
    width: 85%;
    height: 4.5vh;
    font-size: 11px;
    margin: 0.4vh 0.4vh 0.4vh 0vh;
    padding-top: 0.7vh;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}

#legend {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
}

#legendNote {
    font-size: 10px;
    margin-top: 15px;
}

.chooseLevel {
    line-height: 1.2em;
    font-size: 14px;
    font-weight: bold;
}


#accessProgressCard{
    float: right;
    right: 20px;
    top: 7px;
    padding: 5px 8px 5px 8px;
    position: absolute;
    font-size: 12px;
    background:var(--theme-access-progress-card-btn-color);
}

#download1{
    float: right;
    right: 10px;
    top: 5px;
    padding: 5px 10px 5px 10px;
    position: absolute;
    font-size: 12px;
    background: var(--theme-download-btn-color);
}
  
#backBtn{
    border:1px solid gainsboro;
    border-radius: 10px;
    background: ghostwhite;
    background:var(--theme-back-button-color);
border-color:var(--theme-back-button-border-color);
    padding: 0px 8px 0px 10px;
    color: #1358c0;
    font-size: 12px;
    /* right: 15px; */
    /* top: 12%; */
    /* position: absolute; */
    cursor: pointer;
}
#backBtn:hover{
    background: #C9DDFF;
}

#backBtn img{
    height: 15px;
    width: 16px;
    margin-left: 5px;
    margin-top: -0.3vh;
}

@media screen and (min-width: 1500px) {
    .legends {
        width: 85%;
        height: 4.5vh;
        font-size: 12px;
        margin: 0.53vh 0.53vh 0.53vh 0vh;
        padding-top: 0.85vh;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
    }
    #legend {
        font-size: 13px;
        font-weight: bold;
        margin-top: 10px !important;
    }
    #legendNote {
        font-size: 14px;
        margin-top: 18px;
    }
}

@media screen and (min-width: 1700px) {
    .legends {
        width: 85%;
        height: 4.5vh;
        font-size: 14px;
        margin: 0.62vh 0.62vh 0.62vh 0vh;
        padding-top: 0.85vh;
        text-align: center;
        border-radius: 10px;
        font-weight: bold;
    }
    #legend {
        font-size: 15px;
        font-weight: bold;
    }
    #legendNote {
        font-size: 16px;
        margin-top: 20px;
    }
}


@media screen and (min-width: 2560px) {
    .tooltip-inner{
        font-size: 18px !important;
        max-width: 500px !important;
    }
    #footer {
        width: 100%;
        border-top: 1px solid #cdccc8;
        background-color: #F5F5F5;
        font-size: 20px !important;
        font-weight: bold;
        color: #727374;
        padding: 3px;
        position: fixed;
        bottom: 0;
        left: 14px;
        z-index: 999;
        margin-top: 0.3%;
    }
    #outer {
        border-radius: 18px;
        background-color: #f5f6fb;
        height: 42px !important;
        width: 230px !important;
        border: 1px solid gray;
        font-size: 20px !important;
    }
    #absolute {
        border-radius: 18px;
        height: 40px !important;
        width: 50%;
        float: left;
        cursor: pointer;
    }
    #relative {
        border-radius: 18px;
        height: 40px !important;
        width: 50%;
        float: left;
        cursor: pointer;
    }
    #dist,
    #block,
    #cluster,
    #school,
    #heading {
        color: var(--theme-report-heading-color);
        font-weight: 600;
        font-size: 32px;
        line-height: 1.2em;
        margin-top: 5px;
    }
    #download {
        cursor: pointer;
        float: right;
        margin: .3vh 0px 0px 8px !important;
        height: 50px !important;
        width: 50px !important;
    }
    #home {
        cursor: pointer;
        font-size: 42px !important;
        float: right;
        margin: 2px 0px 0px 0px;
        color: #3100cc;
        display: none;
    }
    #patprogressCard,
    #infraprogressCard,
    #satprogressCard,
    #udiseprogressCard,
    #stdprogressCard,
    #downloadRaw,
    #rawDownload,
    #crcprogressCard {
        font-weight: bold;
        text-decoration: underline;
        font-size: 22px !important;
        color: #3100cc;
    }
    .note,
    #students,
    #schools,
    #dateRange,
    #totalCount,
    #visits,
    #visited,
    #notVisited {
        text-align: justify;
        font-size: 22px !important;
    }
    #choose_dist,
    #choose_block,
    #period,
    #grades,
    #subjects,
    #choose_semester,
    #choose_cluster,
    #time_range,
    #coll_name,
    #choose_enroll,
    #choose_infra,
    #academicYear,
    #year,#year1,
    #month,
    #x-axis,
    #y-axis,
    #type,
    #management,
    #category {
        margin-right: 15px;
        margin-bottom: 3px;
        padding: 8px !important;
        color: white;
        border-radius: 4px;
        font-size: 22px !important;
        font-weight: bold;
        background: var(--theme-report-button-color);
    }
    #blockbtn,
    #clusterbtn,
    #schoolbtn {
        margin-top: -7px;
        margin-right: 15px;
        font-size: 22px !important;
        width: 130px !important;
        padding: 4.3px !important;
       background: var(--theme-report-button-color);
    }
    .legends {
        width: 85%;
        height: 4.5vh;
        font-size: 24px !important;
        margin: 0.8vh 0.8vh 0.8vh 0vh !important;
        padding-top: 0.92vh !important;
        text-align: center;
        border-radius: 15px !important;
        font-weight: bold;
    }
    #legend {
        font-size: 26px !important;
        font-weight: bold;
        margin-top: 8px !important;
    }
    #legendNote {
        font-size: 22px;
        margin-top: 26px;
    }
    #errMsg {
        text-align: center;
        line-height: 1.2em;
        font-size: 22px;
        margin-top: 3%;
    }
    .chooseLevel {
        line-height: 1.4em;
        font-size: 24px;
        font-weight: bold;
    }

    #accessProgressCard{
        float: right;
        right: 30px !important;
        top: 12px !important;
        padding: 8px 10px 8px 10px !important;
        position: absolute !important;
        font-size: 20px !important;
        background:var(--theme-access-progress-card-btn-color);
    }

    #download1{
        float: right;
        right: 20px !important;
        top: 6px !important;
        padding: 8px 15px 8px 15px !important;
        position: absolute !important;
        font-size: 20px !important;
        background: var(--theme-download-btn-color);
    }
      
    #backBtn{
        border:1px solid gainsboro;
        border-radius: 12px;
        background: ghostwhite;
        padding: 10px 10px 10px 10px !important;
        color: #1358c0;
        font-size: 24px !important;
        right: 20px !important;
        top: 12% !important;
        position: absolute;
        cursor: pointer;
    }
    #backBtn img{
        height: 24px !important;
        width: 26px !important;
        margin-top: -0.3vh !important;
    }
    
}

@media screen and (min-width: 3820px) {
    .tooltip-inner{
        font-size: 24px !important;
        max-width: 600px !important;
    }
    #footer {
        width: 100%;
        border-top: 1px solid #cdccc8;
        background-color: #F5F5F5;
        font-size: 24px !important;
        font-weight: bold;
        color: #727374;
        padding: 4px !important;
        position: fixed !important;
        bottom: 0;
        left: 14px;
        z-index: 999;
        margin-top: 0.3%;
    }
    #outer {
        border-radius: 20px !important;
        background-color: #f5f6fb;
        height: 52px !important;
        width: 290px !important;
        border: 1px solid gray;
        font-size: 30px !important;
    }
    #absolute {
        border-radius: 20px !important;
        height: 49px !important;
        width: 50%;
        float: left;
        cursor: pointer;
    }
    #relative {
        border-radius: 20px !important;
        height: 49px !important;
        width: 50%;
        float: left;
        cursor: pointer;
    }
    #dist,
    #block,
    #cluster,
    #school,
    #heading {
        color: var(--theme-report-heading-color);
        font-weight: 600;
        font-size: 38px !important;
        line-height: 1.2em;
        margin-top: 5px;
    }
    #download {
        cursor: pointer;
        float: right;
        margin: .2vh 0px 0px 8px !important;
        height: 70px !important;
        width: 70px !important;
    }
    #home {
        cursor: pointer;
        font-size: 60px !important;
        float: right;
        margin: 5px 0px 0px 0px !important;
        color: #3100cc;
        display: none;
    }
    #patprogressCard,
    #infraprogressCard,
    #satprogressCard,
    #udiseprogressCard,
    #stdprogressCard,
    #downloadRaw,
    #rawDownload,
    #crcprogressCard {
        font-weight: bold;
        text-decoration: underline;
        font-size: 30px !important;
        color: #3100cc;
    }
    .note,
    #students,
    #schools,
    #dateRange,
    #totalCount,
    #visits,
    #visited,
    #notVisited {
        text-align: justify;
        font-size: 30px !important;
    }
    #choose_dist,
    #choose_block,
    #period,
    #grades,
    #subjects,
    #choose_semester,
    #choose_cluster,
    #time_range,
    #coll_name,
    #choose_enroll,
    #choose_infra,
    #academicYear,
    #year,#year1,
    #month,
    #x-axis,
    #y-axis,
    #type,
    #management,
    #category {
        margin-right: 20px;
        margin-bottom: 4px;
        padding: 12px !important;
        color: white;
        border-radius: 6px;
        font-size: 32px !important;
        font-weight: bold;
        background: var(--theme-report-button-color);
    }
    #blockbtn,
    #clusterbtn,
    #schoolbtn {
        margin-right: 15px;
        font-size: 32px !important;
        width: 180px !important;
        padding: 6px !important;
        background: var(--theme-report-button-color);
        margin-top: -12.5px !important;
    }
    .legends {
        width: 85% !important;
        height: 4.5vh;
        font-size: 32px !important;
        margin: 1.2vh 1.2vh 1.2vh 0vh !important;
        padding-top: 1.1vh !important;
        text-align: center;
        border-radius: 20px !important;
        font-weight: bold;
    }
    #legend {
        font-size: 32px !important;
        font-weight: bold;
        margin-top: 8px !important;
    }
    #legendNote {
        font-size: 32px;
        margin-top: 30px;
    }
    #errMsg {
        text-align: center;
        line-height: 1.2em;
        font-size: 26px;
        margin-top: 3%;
    }
    .chooseLevel {
        line-height: 1.6em;
        font-size: 32px;
        font-weight: bold;
    }

    #accessProgressCard{
        float: right;
        right: 40px !important;
        top: 20px !important;
        padding: 14px 15px 14px 15px !important;
        position: absolute !important;
        font-size: 28px !important;
        background: var(--theme-access-progress-card-btn-color);
    }

    #download1{
        float: right;
        right: 30px !important;
        top: 8px !important;
        padding: 12px 20px 12px 20px !important;
        position: absolute !important;
        font-size: 28px !important;
        background: var(--theme-download-btn-color);
    }
      
    #backBtn{
        border:1px solid gainsboro;
        border-radius: 10px;
        background: ghostwhite;
        padding: 22px 14px 22px 14px !important;
        color: #1358c0;
        font-size: 34px !important;
        right: 20px !important;
        top: 16% !important;
        position: absolute;
        cursor: pointer;
    }
    #backBtn img{
        height: 32px !important;
        width: 34px !important;
        margin-top: -0.3vh !important;
    }
}

.page-item.active .page-link{
    background-color: whitesmoke !important;
    color: black !important;
    font-size: 12px;
}
.page-link{
    color: black !important;
    font-size: 12px;
}

/*/////////////////TABLE CONTROL CSS////////////////////////*/

.dataTableCustom .dataTables_wrapper .dataTables_scrollBody {
    max-height: 50vh !important;
    font-size: 12px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead{
    font-size: 12px !important;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
    height: 70px !important;
}
.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
    min-width: 150px !important;
}
.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th{
    min-width: 30px !important;
}
.dataTableCustom .dataTables_wrapper .dataTables_scrollBody .indicator{
    min-width: 150px !important;
}
.page-item.active .page-link{
    background-color: whitesmoke !important;
    color: black !important;
    font-size: 12px;
}
.page-link{
    color: black !important;
    font-size: 12px;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
    background-size: 15px 15px !important;
}
.report-cards {
    margin-top: 20px !important; 
  }


@media only screen and (min-width: 2560px) {
    .dataTableCustom .dataTables_wrapper .dataTables_scrollBody {
        max-height: 58vh !important;
        font-size: 22px !important;
    }

    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead{
        font-size: 22px !important;
    }

    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
        height: 150px !important;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
        min-width: 250px !important;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr th{
        min-width: 50px !important;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollBody .indicator{
        min-width: 250px !important;
    }
    .page-item.active .page-link{
        background-color: whitesmoke !important;
        color: black !important;
        font-size: 23px;
    }
    .page-link{
        color: black !important;
        font-size: 23px;
    }

    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
        background-size: 30px 30px !important;
    }
    .report-cards {
        margin-top: 35px !important; 
    }
  
}

@media only screen and (min-width: 3840px) {
    .dataTableCustom .dataTables_wrapper .dataTables_scrollBody {
        max-height: 60vh !important;
        font-size: 32px !important;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead{
        font-size: 32px !important;
    }

    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
        height: 220px !important;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
        width: 380px !important;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollBody .indicator{
        min-width: 380px !important;
    }
    .page-item.active .page-link{
        background-color: whitesmoke !important;
        color: black !important;
        font-size: 32px;
    }
    .page-link{
        color: black !important;
        font-size: 32px;
    }
    .dataTableCustom .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
        background-size: 40px 40px !important;
    }
    .report-cards {
        margin-top: 50px !important;
      }
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .rank{
    height: 60px;
    padding-left: -10px;
}
.dataTableCustom .dataTables_wrapper .dataTables_scrollBody {
  font-size: 11px;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead{
  font-size: 11px;
}


.dataTableCustom .dataTables_wrapper .dataTables_scrollHead .dataTables_scrollHeadInner table thead tr .indicator{
    width: 150px;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollBody .indicator{
    min-width: 150px;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollHead table thead .sorting{
    background-size: 20px 20px;
}

.dataTableCustom .dataTables_wrapper .dataTables_scrollBody table tbody tr th, .dataTableCustom .dataTables_wrapper .dataTables_scrollBody table table.dataTable tbody tr td {
    padding: 0px 0px !important;
}




/* common css for layout */
.me-3, .template-demo > .btn-toolbar {
    margin-right: 1rem !important;
}
.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    /* min-height: calc(100vh - 97px); */
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.content-wrapper {
    /* background-color: #ffebcc; */
    /* padding: 1rem; */
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.page-body-wrapper {
    min-height: calc(100vh - 97px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}
.page-title {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #fecaaf;
}

.btn-group-sm > .btn, .btn-sm {
    border-radius: 8px !important;
}
.btn-outline-secondary:hover {
    color: #333 !important;
}
.mat-drawer.mat-drawer-side{
    width: 312px;
}

@media (max-width: 767.98px) {
    mat-sidenav-container{
        margin-top: 0px !important;
    }
 }



 .report-cards {
    margin-top: 15px;
  }
  .report-cards h5,  h5 {
    margin-bottom: 20px;
  }

  button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}


/*:::::::::Sticky reports header*/

.reportHeader{
    top: 45px;
    position: fixed;
    width: calc(100% - 25px);
    z-index: 999;
    background-color: var(--theme-report-header-bg-color);
 }
 .reportContainer{
    margin-top: 120px;
 }
 
 
 @media screen and (min-width: 2140px) {
     .reportHeader{
         top: 70px !important;
         position: fixed;
         width: calc(100% - 25px);
         z-index: 999;
         background: var(--theme-report-header-bg-color);
      }
      .reportContainer{
         margin-top: 180px !important;
      }
 }
 
 @media screen and (min-width: 3820px) {
     .reportHeader{
         top: 120px !important;
         position: fixed;
         width: calc(100% - 25px);
         z-index: 999;
         background:var(--theme-report-header-bg-color);
      }
      .reportContainer{
         margin-top: 230px !important;
      }
 }
 
.selected-level{
    color: var(--theme-report-selected-level-color) !important;
}




/* theme css start */
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

:root {
  /* Colors */

  --theme-bg-header-color:#fff;
  --theme-bg-sidenav-color:#FFC400;
  --theme-bg-container-color: #ffebcc;
  --theme-text-color: #000;
  --theme-dark-button-color: #0C54C6;
  --theme-button-border-color: #0C54C6;
  --theme-back-button-color: #dcdcdc;
  --theme-back-button-border-color: #dcdcdc;
  --theme-report-button-color: rgb(152, 160, 163);
  --theme-bg-sidenav-user-info:#FFE07B;
  --theme-report-heading-color: #000;
  --theme-access-progress-card-btn-color: #0545a5;
  --theme-download-btn-color: #0545a5;
  --theme-report-selected-level-color: #777;
  --theme-icon-color: #000;
  --theme-user-info-bg-image:url('assets/images/user-info-bg-icon.svg');
  --theme-container-bg-image:url('assets/images/bg-icon.png');
  --theme-report-header-bg-color : #ffebcd;
}
.badge-colors .badge-default {
    background-color: #ffb236;
}
.badge-colors .badge-blue {
    background-color: #2ca8ff;
}
.badge-colors .badge-green {
    background-color: #18ce0f;
}
.badge-colors .badge {
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block !important;
    height: 23px;
    margin-right: 5px;
    position: relative;
    width: 23px;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.badge-colors .badge:hover {
    border-color: #0bf;
}

.mat-icon{
    color: var(--theme-icon-color);
}

body {
  background: var(--theme-bg-color);
}
/* .mat-drawer{
    background:var(--theme-bg-yellow-color); 
} */


html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}


.leaflet-control{
    display: none;
}

.leaflet-bottom .leaflet-right{
    display: none;
}

.map-control{
    display: none;
}